.container {
  background-image: url('https://img.freepik.com/premium-photo/illuminated-crumpled-yellow-paper-light-bulb-idea-white-background_23-2147890099.jpg?w=1380');
  background-size: 1270px;
  background-position: center ;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox {
  margin-left: 400px;
  min-width: 480px;
  height: fit-content;
  width: fit-content;
  background-color: #fff;
  position: relative;
  animation: innerBox 2s infinite linear;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@keyframes innerBox {
  0% {
      box-shadow: 0 0 10px 0 rgba(231, 160, 46, 0.612); /* Initial shadow */
  }
  50% {
      box-shadow: 0 0 20px 10px rgba(231, 160, 46, 0.612); /* Maximum shadow */
  }
  100% {
      box-shadow: 0 0 10px 0 rgba(231, 160, 46, 0.612); /* Restore to initial shadow */
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .error {
  font-weight: bold;
  font-size: 0.875rem;
  color: #ff3300;
  text-align: center;
}

.footer button {
  outline: none;
  border: none;
  background-color: rgb(212, 111, 43);
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 16px;
  width: 100%;
  transition: 100ms;
  cursor: pointer;
}

.footer button:disabled {
  background-color: gray !important;
}

.footer button:hover {
  background-color: #aa2aff;
}

.footer p {
  font-weight: 700;
  color: #000;
}

.footer p span a {
  font-weight: bold;
  color: #9900ff;
  letter-spacing: 1px;
  font-size: 1rem;
  text-decoration: none;
}
